@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg: 245 247 250;
  --card: 255 255 255;
  --muted: 107 114 128;
  --border: 229 231 235;
  --primary: 34 197 94;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
